html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #F8C8DC;
  margin-top: 60px;
}

h2 {
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 0px;
  font-size: .7rem;
}

.border {
  border-style: groove;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 110%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}